<h1><%= @name %> is a student</h1>
<%#= render :js => "alert(‘Hello Hi’);" %>
<pre>
We are an Assembly of Diverse Talent, Professional in respective Technologies 
or Entrepreneurship. We Work Together and Share a Common Vision to produce 
the Highest Quality Work for our Students which Makes Us Best In The World.

Having Vast Experience in Training and Handling the Projects in different 
domains Naresh  Trainings has built a large database of Knowledge that 
enables us to deliver the Right Training that Address the needs of Students.

We at Naresh  Trainings are committed to delivering maximum value to our 
Students by providing high quality of training which helps them succeed 
in a constantly changing and challenging biz world. We strongly believes 
in quality personnel, quality process and quality communications.

Our Naresh  Trainings solution is great for Corporate Learning Labs and 
Libraries. This Online Software Training Program is designed to provide 
Rich Learning Experience for Students Using Internet. We Provide Personalized 
Online Software Training sessions which is of one hour to two hours duration 
each on the day's most suited to the Candidates. We also provide Class Room 
Training and Project Guidance on Software Courses for Btech and Post Graduate 
Students.

We've recruited Top-Notch Instructors that are recognized in the Industry 
for Excellence to provide the Training. Naresh  Trainings Staff strives to 
be globally recognized as a provider of a Trusted, Reliable Resource to 
Quality Software.
</pre>

